<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada</title>
    <link rel="stylesheet" href="css/404.css">
</head>
<body>
    <!-- <h1>404 - Página Não Encontrada</h1>
    <p>Desculpe, mas a página que você está procurando não foi encontrada.</p> -->
    <!-- <script>
        const larguraTela = window.innerWidth;
        const alturaTela = window.innerHeight;

        document.querySelector("body").textContent = `${larguraTela}px X ${alturaTela}px`;
        document.querySelector("body").style.color = 'red';
    </script> -->
</body>
</html>
